<div class = "container">
  <h3>Title:</h3>

  <p> <%= @article.title %></p>

  <h3>Price:</h3>

  <p> <%= @article.price %></p>

  <h3>Email:</h3>

  <p> <%= @article.email %></p>

  <h3>Description:</h3>

  <p><%= @article.description %></p>

<div>
