<form>
<h3>First Address<input name="formatted_address_1" type="text" class="form-control input-lg" style ="margin-left: 35px;" placeholder="Type in an address" value=""></h3>
<h3>Second Address   <input name="formatted_address_2" type="text" class="form-control input-lg" placeholder="Type in an address" value=""></h3>
<input name="coords1" type="hidden" value="">
<input name="coords2" type="hidden" value="">
<br>

<select style="margin-left: 14em;"class= "btn btn-primary">
  <option value="Driving">Driving</option>
  <option value="Walking">Walking</option>
  <option value="Bicycling">Bicycling</option>
  <option value="Transit">Transit</option>
</select>

<button style="margin-left: 16em;"type="submit" class="btn btn-primary">Calculate Route</button>
</form>
<br>


<!-- <input type="submit" value="Search it"> -->
