<form>
<p>Address 1:    <input name="formatted_address_1" type="text" value=""></p>
<p>Address 2:    <input name="formatted_address_2" type="text" value=""></p>
<input name="coords1" type="hidden" value="">
<input name="coords2" type="hidden" value="">
<input type="submit" value="Search it">
</form>
