<div class="jumbotron" id ="welcome" style='text-align: center;'>
	<h1><img id ="logo" src="images/mg_logo.svg">MiddleGround</h1>
	<p id="slogan">Meet me half way.</p>
</div>

<div id="geocomplete">
	<%= erb :_form_geocomplete %>
</div>

<div id="map_container"><div id="map_canvas"></div></div>

<%= erb :_poi %>	
<div id="error"></div>
