<!DOCTYPE html>
<html lang="en">
<head>
  <title>MiddleGround</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="/js/application.js"></script>
  <script src="/js/jquery.geocomplete.js"></script>

</head>

<body>
  <%= yield %>
  </body>
<br>
<br>
<br>
</html>
