
<center>
  <div class="map_canvas"></div>
    <input id="geocomplete" type="text" class="form-control input-lg" placeholder="Type in an address" value="48 Wall Street" />
  <form>
    <input id="find" style="display: inline;" type="button" width="80%"class="btn btn-primary btn-lg" value ="Search"/>
    <br>

    <fieldset>
      <label>Latitude</label>
      <input name="lat" type="text" value="">
      <br>
      <label>Longitude</label>
      <input name="lng" type="text" value="">
      <br>
      <label>Formatted Address</label>
      <input name="formatted_address" type="text" value="">
    </fieldset>
</center>

  </form>






