<div id="map-canvas"></div>

  <h3>First Address</h3>
    <input id="geocomplete" type="text" class="form-control input-lg" placeholder="Type in an address" value="48 Wall Street" />
    <input id="find" style="display: inline;" type="button" width="80%"class="btn btn-primary btn-lg" value ="Search"/>
  <h3>Second Address</h3>
    <input id="geocomplete2" type="text" class="form-control input-lg" placeholder="Type in an address" value="48 Wall Street" />
    <input id="find2" style="display: inline;" type="button" width="80%"class="btn btn-primary btn-lg" value ="Search"/>
    <br>
  <form>
    <fieldset>
      <h3>First Location Coordinates</h3>
      <label>Latitude</label>
      <input name="lat" type="text" value="">
      <br>
      <label>Longitude</label>
      <input name="lng" type="text" value="">
      <br>
      <label>Formatted Address</label>
      <input name="formatted_address" type="text" value="">
    </fieldset>
  
  <fieldset>
  <h3>Second Location Coordinates</h3>
      <label>Latitude</label>
      <input name="lat" id ="lat2" type="text" value="">
      <br>
      <label>Longitude</label>
      <input name="lng" id ="lng2" type="text" value="">
      <br>
      <label>Formatted Address</label>
      <input name="formatted_address" type="text" value="">
  </fieldset>

  </form>

