
<center>
  <div class="map_canvas"></div>
  <h2>First Address</h2>
    <input id="geocomplete" type="text" class="form-control input-lg" placeholder="Type in an address" value="48 Wall Street" />
    <input id="find" type="button" width="80%"class="btn btn-primary btn-lg" value ="Search"/>
    <h2>Second Address</h2>
    <input id="geocomplete2" type="text" class="form-control input-lg" placeholder="Type in an address" value="48 Wall Street" />
    <input id="find2" type="button" width="80%"class="btn btn-primary btn-lg" value ="Search"/>
  <form>
</center>
    <br>

    <fieldset id="location1">
      <h3>Address 1 </h3>
      <label>Latitude</label>
      <input name="lat" type="text" value="">
      <br>
      <label>Longitude</label>
      <input name="lng" type="text" value="">
      <br>
      <label>Formatted Address</label>
      <input name="formatted_address" type="text" value="">
    </fieldset>

    <fieldset id="location2">
      <h3>Address 2 </h3>
      <label>Latitude</label>
      <input name="lat2" type="text" value="">
      <br>
      <label>Longitude</label>
      <input name="lng2" type="text" value="">
      <br>
      <label>Formatted Address</label>
      <input name="formatted_address2" type="text" value="">
    </fieldset>

  </form>






